<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Smartcare</title>
		<link
			rel="stylesheet"
			href="https://unpkg.com/vue-material/dist/vue-material.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://unpkg.com/vue-material/dist/theme/default.css"
		/>
		<link
			rel="stylesheet"
			href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons"
		/>
		<link
			rel="stylesheet"
			href="https://unpkg.com/vue-datetime@1.0.0-beta.14/dist/vue-datetime.css"
		/>
		<style>
			.bounce-enter-active {
				animation: bounce-in 0.5s;
			}
			.bounce-leave-active {
				animation: bounce-in 0.5s reverse;
			}
			@keyframes bounce-in {
				0% {
					transform: scale(0);
				}
				50% {
					transform: scale(1.5);
				}
				100% {
					transform: scale(1);
				}
			}
			[v-cloak] {
				display: none;
			}

			.center-text {
				text-align: center;
			}

			.primary-text {
				color: #448aff;
			}

			.md-theme-orange-card {
				background-color: #ff9800 !important;
			}
			.noselect {
				-webkit-touch-callout: none; /* iOS Safari */
				-webkit-user-select: none; /* Safari */
				-khtml-user-select: none; /* Konqueror HTML */
				-moz-user-select: none; /* Old versions of Firefox */
				-ms-user-select: none; /* Internet Explorer/Edge */
				user-select: none; /* Non-prefixed version, currently
			                               supported by Chrome, Edge, Opera and Firefox */
			}
			.vdatetime-input {
				display: block;
				width: 100%;
				height: calc(1.5em + 0.75rem + 2px);
				padding: 0.375rem 0.75rem;
				font-size: 1rem;
				font-weight: 400;
				line-height: 1.5;
				color: #495057;
				background-color: #fff;
				background-clip: padding-box;
				border: 1px solid #ced4da;
				border-radius: 0.25rem;
				transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
			}

			.vdatetime-calendar__month__weekday {
				overflow: hidden;
				padding-left: 1rem;
				padding-right: 1rem;
			}
		</style>
	</head>
	<body>
		<div id="appVue" v-cloak>
			<md-toolbar class="md-primary">
				<h3 class="md-title noselect">SmartCare - Data Generator</h3>
				<div class="md-toolbar-section-end">
					<md-menu md-size="auto" md-align-trigger>
						<md-badge
							md-position="bottom"
							:md-content="getStats().totalPaths"
							md-menu-trigger
						>
							<md-button class="md-icon-button">
								<md-icon>calendar_today</md-icon>
							</md-button>
						</md-badge>
						<md-menu-content class="md-scrollbar">
							<md-list>
								<md-subheader>Current Date</md-subheader>
								<md-list-item>
									<md-chip class="md-theme-orange-card">{{date}}</md-chip>
								</md-list-item>
								<md-divider v-show="getDatas().length"></md-divider>
								<md-subheader v-show="getDatas().length"
									>Registered dates</md-subheader
								>

								<md-list-item v-for="d in getDatas()">
									<md-chip
										v-if="!manager?.paths[d].wandering"
										class="md-primary"
										@click="currentDate=formattedDateToISO(d)"
										md-clickable
									>
										<span>🙂 - </span>{{d}}</md-chip
									>

									<md-chip
										v-else
										class="md-accent"
										@click="currentDate=formattedDateToISO(d)"
										md-clickable
									>
										<span>😕 - </span>{{d}}
									</md-chip>
								</md-list-item>
							</md-list>
						</md-menu-content>
					</md-menu>
				</div>
			</md-toolbar>
			<div
				class="md-layout md-gutter"
				style="margin-top: 1rem; margin-left: 0.25rem; margin-right: 0.25rem"
			>
				<div class="md-layout-item md-size-15">
					<div class="md-layout-item" for="vertical">
						<label>Date</label>
						<datetime
							type="datetime"
							v-model="currentDate"
							:minute-step="step"
						></datetime>
					</div>
				</div>
				<div class="md-layout-item md-size-20">
					<div class="md-layout-item" for="vertical">
						<md-field>
							<label>Interval of Analysis</label>
							<md-select v-model="step" md-dense>
								<md-option></md-option>
								<md-option value="15">15</md-option>
								<md-option value="30">30</md-option>
								<md-option value="60">60</md-option>
							</md-select>
							<span class="md-suffix">minutes</span>
						</md-field>
					</div>
				</div>
				<div class="md-layout-item md-size-15">
					<div class="md-layout-item">
						<md-switch
							class="md-primary"
							v-model="wandering"
							@change="updatePath"
						>
							<span v-if="wandering">Wandering 🙁</span>
							<span v-else>Wandering 🙂</span>
						</md-switch>
					</div>
				</div>
			</div>
			<div
				class="md-layout md-gutter md-alignment-center-center"
				style="margin-top: 1rem; margin-left: 0.25rem; margin-right: 0.25rem"
			>
				<div class="md-layout-item md-size-50 v-center">
					<div>
						<div id="canvaswrapper"></div>
					</div>
				</div>
				<div
					class="md-layout-item md-size-50 v-center"
					v-show="getStats().totalPoints"
				>
					<div>
						<p class="md-title noselect">
							<i class="md-icon md-icon-font md-size-2x md-theme-default"
								>show_chart</i
							>
							Global Statistics
						</p>
						<div class="md-layout md-gutter">
							<div class="md-layout-item md-size-25" v-show="getStats()">
								<div class="md-layout-item">
									<md-card class="md-accent">
										<md-card-header>
											<md-card-header-text>
												<transition name="bounce" mode="out-in">
													<div
														class="md-title center-text"
														:key="getStats().stressPoints"
													>
														{{getStats().stressPoints || 0}}
													</div>
												</transition>
												<div class="md-subhead">Wandering</div>
												<div class="md-subhead">Points</div>
											</md-card-header-text>
										</md-card-header>
									</md-card>
								</div>
							</div>
							<div class="md-layout-item md-size-25" v-show="getStats()">
								<div class="md-layout-item">
									<md-card class="md-primary">
										<md-card-header>
											<md-card-header-text>
												<transition name="bounce" mode="out-in">
													<div
														class="md-title center-text"
														:key="getStats().totalPoints"
													>
														{{getStats().totalPoints || 0}}
													</div>
												</transition>
												<div class="md-subhead">Total</div>
												<div class="md-subhead">Points</div>
											</md-card-header-text>
										</md-card-header>
									</md-card>
								</div>
							</div>
							<div class="md-layout-item md-size-25" v-show="getStats()">
								<div class="md-layout-item">
									<md-card class="md-primary" md-theme="orange-card">
										<md-card-header>
											<md-card-header-text>
												<transition name="bounce" mode="out-in">
													<div
														class="md-title center-text"
														:key="getStats().normalPoints"
													>
														{{getStats().normalPoints || 0}}
													</div>
												</transition>
												<div class="md-subhead">Normal activity</div>
												<div class="md-subhead">Points</div>
											</md-card-header-text>
										</md-card-header>
									</md-card>
								</div>
							</div>
						</div>
						<div class="md-layout md-gutter">
							<div class="md-layout-item md-size-25" v-show="getStats()">
								<div class="md-layout-item">
									<md-card class="md-accent">
										<md-card-header>
											<md-card-header-text>
												<transition name="bounce" mode="out-in">
													<div
														class="md-title center-text"
														:key="getStats().minPoints"
													>
														<span
															v-if="getStats().minPoints != Number.MAX_SAFE_INTEGER"
															>{{getStats().minPoints || 0}}</span
														><span v-else>0</span>
													</div>
												</transition>
												<div class="md-subhead">Minimum Points</div>
												<div class="md-subhead">Per date</div>
											</md-card-header-text>
										</md-card-header>
									</md-card>
								</div>
							</div>
							<div class="md-layout-item md-size-25" v-show="getStats()">
								<div class="md-layout-item">
									<md-card class="md-primary">
										<md-card-header>
											<md-card-header-text>
												<transition name="bounce" mode="out-in">
													<div
														class="md-title center-text"
														:key="getStats().totalPoints"
													>
														{{parseFloat(getStats().averagePoints ||
														0).toFixed(2)}}
													</div>
												</transition>
												<div class="md-subhead">Average Points</div>
												<div class="md-subhead">Per date</div>
											</md-card-header-text>
										</md-card-header>
									</md-card>
								</div>
							</div>
							<div class="md-layout-item md-size-25" v-show="getStats()">
								<div class="md-layout-item">
									<md-card class="md-primary" md-theme="orange-card">
										<md-card-header>
											<md-card-header-text>
												<transition name="bounce" mode="out-in">
													<div
														class="md-title center-text"
														:key="getStats().normalPoints"
													>
														<span
															v-if="getStats().maxPoints != Number.MIN_SAFE_INTEGER"
														>
															{{getStats().maxPoints || 0}} </span
														><span v-else>0</span>
													</div>
												</transition>
												<div class="md-subhead">Maximum Points</div>
												<div class="md-subhead">Per date</div>
											</md-card-header-text>
										</md-card-header>
									</md-card>
								</div>
							</div>
						</div>
						<div class="md-layout md-gutter">
							<div class="md-layout-item md-size-25" v-show="getStats()">
								<div class="md-layout-item">
									<md-card class="md-accent">
										<md-card-header>
											<md-card-header-text>
												<transition name="bounce" mode="out-in">
													<div
														class="md-title center-text"
														:key="getStats().totalWanderPaths"
													>
														{{getStats().totalWanderPaths || 0}}
													</div>
												</transition>
												<div class="md-subhead">Wandering</div>
												<div class="md-subhead">Slices</div>
											</md-card-header-text>
										</md-card-header>
									</md-card>
								</div>
							</div>
							<div class="md-layout-item md-size-25" v-show="getStats()">
								<div class="md-layout-item">
									<md-card class="md-primary">
										<md-card-header>
											<md-card-header-text>
												<transition name="bounce" mode="out-in">
													<div
														class="md-title center-text"
														:key="getStats().totalPaths"
													>
														{{getStats().totalPaths || 0}}
													</div>
												</transition>
												<div class="md-subhead">Total</div>
												<div class="md-subhead">Slices</div>
											</md-card-header-text>
										</md-card-header>
									</md-card>
								</div>
							</div>
							<div class="md-layout-item md-size-25" v-show="getStats()">
								<div class="md-layout-item">
									<md-card class="md-primary" md-theme="orange-card">
										<md-card-header>
											<md-card-header-text>
												<transition name="bounce" mode="out-in">
													<div
														class="md-title center-text"
														:key="getStats().totalNormalPaths"
													>
														{{getStats().totalNormalPaths || 0}}
													</div>
												</transition>
												<div class="md-subhead">Normal Activity</div>
												<div class="md-subhead">Slices</div>
											</md-card-header-text>
										</md-card-header>
									</md-card>
								</div>
							</div>
						</div>
						<p class="md-title">
							<span class="primary-text">{{date}} </span>
							Statistics
						</p>
						<div class="md-layout md-gutter">
							<div class="md-layout-item md-size-25" v-show="getStats()">
								<div class="md-layout-item">
									<md-card class="md-accent">
										<md-card-header>
											<md-card-header-text>
												<transition name="bounce" mode="out-in">
													<div
														class="md-title center-text"
														:key="getCurrentStats().stressPoints"
													>
														{{getCurrentStats().stressPoints || 0}}
													</div>
												</transition>
												<div class="md-subhead">Wandering</div>
												<div class="md-subhead">Points</div>
											</md-card-header-text>
										</md-card-header>
									</md-card>
								</div>
							</div>
							<div class="md-layout-item md-size-25" v-show="getStats()">
								<div class="md-layout-item">
									<md-card class="md-primary">
										<md-card-header>
											<md-card-header-text>
												<transition name="bounce" mode="out-in">
													<div
														class="md-title center-text"
														:key="getCurrentStats().totalPoints"
													>
														{{getCurrentStats().totalPoints || 0}}
													</div>
												</transition>
												<div class="md-subhead">Total</div>
												<div class="md-subhead">Points</div>
											</md-card-header-text>
										</md-card-header>
									</md-card>
								</div>
							</div>
							<div class="md-layout-item md-size-25" v-show="getStats()">
								<div class="md-layout-item">
									<md-card class="md-primary" md-theme="orange-card">
										<md-card-header>
											<md-card-header-text>
												<transition name="bounce" mode="out-in">
													<div
														class="md-title center-text"
														:key="getCurrentStats().normalPoints"
													>
														{{getCurrentStats().normalPoints || 0}}
													</div>
												</transition>
												<div class="md-subhead">Normal Activity</div>
												<div class="md-subhead">Points</div>
											</md-card-header-text>
										</md-card-header>
									</md-card>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div
					class="md-layout-item md-size-50 v-center"
					v-show="!getStats().totalPoints"
				>
					<div class="md-layout md-gutter">
						<md-empty-state
							md-icon="analytics"
							md-label="No data available"
							md-description="We do not have data available to generate the statistics. Double click the floor plan and start tracing the paths."
						>
						</md-empty-state>
					</div>
				</div>
			</div>

			<md-speed-dial class="md-bottom-left" md-direction="top">
				<md-speed-dial-target>
					<md-icon>tune</md-icon>
				</md-speed-dial-target>
				<md-speed-dial-content>
					<md-button class="md-icon-button" @click="showStepDialog = true">
						<md-icon>sync_alt</md-icon>
						<md-tooltip md-direction="right">Convert path slices</md-tooltip>
					</md-button>
					<md-button class="md-icon-button" @click="loadBackground">
						<md-icon>perm_media</md-icon>
						<md-tooltip md-direction="right"
							>Upload the floor plan image</md-tooltip
						>
					</md-button>
					<md-button class="md-icon-button">
						<md-icon>backspace</md-icon>
						<md-tooltip md-direction="right">Delete all the data</md-tooltip>
					</md-button>
					<md-button class="md-icon-button" @click="loadPath">
						<md-icon>folder</md-icon>
						<md-tooltip md-direction="right">Load data</md-tooltip>
					</md-button>
					<md-button class="md-icon-button" @click="save">
						<md-icon>save_alt</md-icon>
						<md-tooltip md-direction="right">Save data</md-tooltip>
					</md-button>
					<md-button class="md-icon-button" @click="screenshotPath">
						<md-icon>photo_camera</md-icon>
						<md-tooltip md-direction="right">Save paths picture</md-tooltip>
					</md-button>
				</md-speed-dial-content>
			</md-speed-dial>
			<div id="jsonWrapper" style="display: none"></div>
			<div id="bgWrapper" style="display: none"></div>
			<div>
				<md-dialog :md-active.sync="showStepDialog">
					<md-dialog-title>Action required</md-dialog-title>
					<div style="margin: 1rem">
						<p style="display: block">
							What is the interval of Analysis of the dataset you loaded?
						</p>
						<md-field>
							<label>Interval of Analysis</label>
							<md-select v-model="step">
								<md-option></md-option>
								<md-option value="15">15</md-option>
								<md-option value="30">30</md-option>
								<md-option value="60">60</md-option>
							</md-select>
							<span class="md-suffix">minutes</span>
						</md-field>
						<div v-show="step==60">
							<md-checkbox v-model="willConvert" class="md-primary"
								>Convert</md-checkbox
							>
							<md-field v-show="willConvert">
								<md-select v-model="convertTargetStep">
									<md-option value="30">30</md-option>
								</md-select>
							</md-field>
						</div>
					</div>
					<md-dialog-actions>
						<md-button
							v-if="!willConvert"
							class="md-primary"
							@click="showStepDialog = false"
							>Confirm</md-button
						>
						<md-button
							class="md-raised md-accent"
							v-if="willConvert"
							:disabled="convertTargetStep == null && getCurrentStats().totalPoints > 2"
							@click="convertPath"
							>Convert</md-button
						>
					</md-dialog-actions>
				</md-dialog>
			</div>
		</div>
		<script
			src="https://code.jquery.com/jquery-3.6.0.min.js"
			integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			crossorigin="anonymous"
		></script>

		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
			integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js"></script>
		<script src="https://unpkg.com/vue-material"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

		<script src="https://cdn.jsdelivr.net/npm/luxon@1.25.0/build/global/luxon.min.js"></script>
		<script src="https://unpkg.com/vue-datetime@1.0.0-beta.14/dist/vue-datetime.min.js"></script>

		<script src="js/LinkedList.js"></script>
		<script src="js/Bubble.js"></script>
		<script src="js/BubbleUtils.js"></script>
		<script src="js/Cursor.js"></script>

		<script src="js/Path.js"></script>
		<script src="js/PathManager.js"></script>

		<script src="js/StorageManager.js"></script>
		<script src="js/StatisticCalculator.js"></script>
		<script src="js/GlobalStatisticsCalculator.js"></script>

		<script src="js/app.js"></script>
		<script src="js/canvas.js"></script>
	</body>
</html>
