<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Smartcare</title>
		<link
			rel="stylesheet"
			href="https://unpkg.com/vue-material/dist/vue-material.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://unpkg.com/vue-material/dist/theme/default.css"
		/>
		<link
			rel="stylesheet"
			href="https://unpkg.com/vue-datetime@1.0.0-beta.14/dist/vue-datetime.css"
		/>
	</head>
	<body>
		<div id="appVue" v-cloak>
			<md-toolbar class="md-primary">
				<h3 class="md-title">SmartCare - Data Generator</h3>
			</md-toolbar>
			<div
				class="md-layout md-gutter"
				style="margin-top: 1rem; margin-left: 0.25rem; margin-right: 0.25rem"
			>
				<div class="md-layout-item md-size-15">
					<div class="md-layout-item" for="vertical">
						<label>Date</label>
						<datetime
							type="datetime"
							v-model="currentDate"
							:minute-step="step"
							format="dd/LL/yyyy HH:mm"
						></datetime>
					</div>
				</div>
				<div class="md-layout-item md-size-20">
					<div class="md-layout-item" for="vertical">
						<md-field>
							<label>Interval of Analysis</label>
							<md-input v-model="step" type="number"></md-input>
							<span class="md-suffix">minutes</span>
						</md-field>
					</div>
				</div>
				<div class="md-layout-item md-size-15">
					<div class="md-layout-item">
						<md-switch class="md-primary" v-model="wandering">
							<span v-if="wandering">Wandering 🙁</span>
							<span v-else>Wandering 🙂</span>
						</md-switch>
					</div>
				</div>
			</div>
			<div
				class="md-layout md-gutter"
				style="margin-top: 1rem; margin-left: 0.25rem; margin-right: 0.25rem"
			>
				<div class="md-layout-item md-size-50">
					<div class="md-layout-item">
						<div id="canvaswrapper"></div>
					</div>
				</div>
			</div>
		</div>
		<script
			src="https://code.jquery.com/jquery-3.6.0.min.js"
			integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			crossorigin="anonymous"
		></script>

		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
			integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<script src="https://unpkg.com/vue"></script>
		<script src="https://unpkg.com/vue-material"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

		<script src="https://cdn.jsdelivr.net/npm/luxon@1.25.0/build/global/luxon.min.js"></script>
		<script src="https://unpkg.com/vue-datetime@1.0.0-beta.14/dist/vue-datetime.min.js"></script>

		<script src="js/LinkedList.js"></script>
		<script src="js/Bubble.js"></script>
		<script src="js/BubbleUtils.js"></script>

		<script src="js/Path.js"></script>
		<script src="js/PathManager.js"></script>

		<script src="js/app.js"></script>
		<script src="js/canvas.js"></script>
	</body>
</html>
